@media screen and (min-width: 530px) {
    .section-title{
        font-size:  3.75rem;
    }

    .section-title__icon{
        position: relative;
        top: 8px;
        margin-right: .5rem;
        margin-left: 0;
        margin-bottom: 0;
        display: inline-block;
    }
    .generic-content-container{
    font-size: 1.125rem;
    }

    .feature-item{
        padding-left: 94px;
    }

    .feature-item__icon{
        position: absolute;
        left: 0;
    }

    .feature-item__title{
        font-size: 1.875rem;
        margin-top: .1em;
        text-align: left;
    }


    .row__medium-6 {
        float:left;
        width: 50%;
    }
    
    .row--gutters {
        margin-right: -65px;
    }
    
    .row--gutters-large {
        margin-right: -100px;
    }
      .row--gutters > div {
        padding-right: 65px;
      }
    
      .row--gutters-large > div {
        padding-right: 100px;
      }

}

@media screen and (max-width: 529px) {
    .feature-item p{
        padding-right: 20px;
        padding-left: 20px;
    }
}